@using QuizGames.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Home";
}
<body>
    
    
    <br />
   

    <div class=" = container">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {


        

        <div class="login-page">
            <div class="form">
                
               
                <form class="login-form">
                    <div class="formInput textField">
                        <label for="uname"><b>Username</b></label>
                        @Html.TextBoxFor(m => m.Login)
                    </div>

                    <div class="formInput passField">
                        <label for="psw"><b>Password</b></label>
                        @Html.PasswordFor(m => m.Pass)
                        <button>login</button>
                    </div>

                </form>
            </div>
        </div>
}


    </div>
        @if (Model != null && !String.IsNullOrEmpty(Model.TokenId))
    {
        <br />
        <br />
        <h3>@Model.TokenId</h3>
}
</body>