@using QuizGames.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Home";
}
<body>
    
    
    <br />
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <header>Login</header>
        <div class="formInput textField">
            <label>Login:</label>
            @Html.TextBoxFor(m => m.Login)
        </div>

        <div class="formInput passField">
            <label>Password:</label>
            @Html.PasswordFor(m => m.Pass)
        </div>
        <br />

        <div class="formInput submitButton">
            <label>&nbsp;</label>
            <input type="submit" value="Login" />
        </div>
}
    </div>
    @if (Model != null && !String.IsNullOrEmpty(Model.TokenId))
    {
        <br />
        <br />
        <h3>@Model.TokenId</h3>
    }
</body>