@using QuizGames.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Home";
}
<head>

</head>
<body>
  


    
    <br />
   
   @using (Html.BeginForm("Index", "Home", FormMethod.Post)){
        <div class="loginwrapper">
            <div class="logincontainer">
            <form class="login-form">
                <div class="fitextfield">
                        <label for="uname"><b>Username</b></label>
                        @Html.TextBoxFor(m => m.Login)
                    </div>

                <div class="fipassfield">
                    <label for="psw"><b>Password</b></label>
                    @Html.PasswordFor(m => m.Pass)
                    <a href="@Url.Action("Menu", "Menu")">Log In</a>
                </div>
                </form>
            </div>
        
        </div>
    }
       @if (Model != null && !String.IsNullOrEmpty(Model.TokenId))
    {
        <br />
        <br />
        <h3>@Model.TokenId</h3>
}
</body>
