@{
    ViewData["Title"] = "Home";
}
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
   <h2>Welcome to the quiz</h2>


    <h1>Log in</h1>

    <div>
        <form>
            Email: <input type="text" name="Email" value ="Email"><br>
            Password: <input type="password" name="Password" value="Password"><br>
        </form>
    </div>
 </body>