@page

@{
    ViewData["Title"] = "Menu";
}

<body>
  <div class="homewrapper">
    <div class="Navbar">
      <img src="homebutton.png"alt="homebutton" class="homebutton">
      <img src="infolandlogo.png" alt="infoland logo" class ="infologo">
      <img src="img_avatar.png" alt="headshot gebruiker" class="userhs">
    </div>
    <div class="Playbutton">
      <p class="buttontext">Play</p>
    </div>
    <div class="Progressbutton">
      <p class="buttontext">Progress</p>
    </div>
    <div class="Leaderboardbutton">
      <p class="buttontext">leaderboard</p>
    </div>
  </div>
</body>