@page

@{
//ViewData["Title"] = "Menu";
}

<body>
    <div class="homewrapper">
        <div class="Navbar">
            <a href="@Url.Action("Menu", "Menu")" class="homebutton">
                <img src="~/images/homebutton.png" alt="homebutton" class="homebutton">
            </a>
            <img src="~/images/infolandLoGo.png" alt="infoland logo" class="infologo">
            <img src="~/images/img_avatar.png" alt="headshot gebruiker" class="userhs">
        </div>

        
            <div class="Playbutton">
                <a href="@Url.Action("Lobby", "Lobby")">
                    <p class="buttontext">Play</p>
                </a>
            </div>
           
            <div class="Progressbutton">
                <p class="buttontext">Progress</p>
            </div>
            <div class="Leaderboardbutton">
                <p class="buttontext">leaderboard</p>
            </div>
    </div>
</body>