@using QuizGames.ViewModels
@model GameModeViewModel
@{
    ViewData["Title"] = "Kamelen Race";
}
<head>
    <script src="~/js/gameHub.js"></script>
</head>
<body onload="start()">
    <div class="gamewrapper">
        <div class="Navbar">
            <a href="@Url.Action("Menu", "Menu")" class="homebutton">
                <img src="~/images/homebutton.png" alt="homebutton" class="homebutton">
            </a>
            <img src="~/images/infolandLoGo.png" alt="infoland logo" class="infologo">
            <img src="~/images/img_avatar.png" alt="headshot gebruiker" class="userhs">
        </div>
        
        <div class="camelrace">
            <div class="camelracepoints" id="crp1">0</div>
            
            <div class="camelracebar" id="Camelbar1"><img id="img1" src=https://www.w3schools.com/howto/img_avatar.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp2">0</div>
            <div class="camelracebar" id="Camelbar2"><img id="img2" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp3">0</div>
            <div class="camelracebar" id="Camelbar3"><img id="img3" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp4">0</div>
            <div class="camelracebar" id="Camelbar4"><img id="img4" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
        </div>

        <div class="questioncontainer">
            <div class="cquestion">
                <h2 id="questionlbl">Vraag:</h2>
                <p id="qlbl"></p>
                <br />
            </div>

            <button class="answer" id="canswer1" onclick="questionAsnsered(this.innerHTML)"></button>
            <button class="answer" id="canswer2" onclick="questionAsnsered(this.innerHTML)"></button>
            <button class="answer" id="canswer3" onclick="questionAsnsered(this.innerHTML)"></button>
            <button class="answer" id="canswer4" onclick="questionAsnsered(this.innerHTML)"></button>

        </div>
        <div>
            <button class="gpbutton" id="gameplaybtn" onclick="toggleGameplay()">Start Gameplay</button>
        </div>
    </div>
</body>
