@model QuizGames.AspNetCore.ViewModels.GameModeViewModel

@{
    ViewData["Title"] = "Giveanswer";
}
<body>
    <div>
        <h2>Camel Race</h2>
    </div>
    <div>
        <h3>
            Vraag:<br />
            @Model.Question<br />
        </h3>
    </div>

    <div>

        <h3>Jou antwoord: @Model.ChosenAnwser</h3>
        <br />
        <br />

        @if (Model.ChosenAnwser == Model.Rightanswer)
    {
            <h2>Dat is: <b>Goed</b></h2>
}
        @if (Model.ChosenAnwser != Model.Rightanswer)
        {

            <h2>Dat is: <b>Fout</b></h2>

        }

    </div>

</body>
