body {
    margin: 0
}

div {
    border-radius: 20px
}

button{
    cursor:pointer;
}
.homewrapper {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 70px repeat(2, minmax(400px, 1fr));
    grid-template-areas: "navbar navbar navbar navbar" ". play play ." ". progress leaderboard .";
    grid-gap: 20px;
    word-break: break-all;
    text-shadow: 1px 1px 2px #000000
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    border-radius: 0px;
}
#modalcontent {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    grid-template-areas: "Mheader" "Mbody" "Mfooter";
}

#modalheader {
    background-color: limegreen;
    text-align: center;
    vertical-align: middle;
    line-height: inherit;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight:700;
}

#modalbody {
    background-color: white;
    display:grid;
    grid-template-rows: minmax(30px, auto) 1fr 5% 1fr minmax(30px, auto);
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-areas: ". . . . " ". Mtext1 Mtext2 ." ". . . ." ". Mtext3 Mtext4 . " ". . . .";
}



#modalfooter {
    background-color: limegreen;
    
    
}

.modaltext{
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px;
    font-weight:700;
    color:black;
    
}
#Mtext1{
    grid-area: Mtext1;
    text-align:end;
}
#Mtext2 {
    grid-area: Mtext2;
}
#Mtext3 {
    grid-area: Mtext3;
    text-align:end;
}
#Mtext4 {
    grid-area: Mtext4;
}

#modalexitbtn{
    float:right;
    height:100px;
    width:100px;
    max-height:100%;
    max-width:20%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    background-color: white;
    color: limegreen;
    margin: 5px;
    border-radius: 20px;
    
}

.loginwrapper {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 500px;
    grid-template-areas: ". lc .";
}

.logincontainer {
    grid-area: lc;
    border: solid 5px #0168b3;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: ". textfield ." ". password ." "button . .";
    justify-content: center;
    align-content: center;
    background-image: url(https://i.gyazo.com/7b9058a544f0c7c541939bbba7844acd.png);
    background-position: center;
    background-size: cover;
    grid-gap: 20px;
}

.logincontainer label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
   
}

.logincontainer input{
    height: 50px;
    font-size: 40px;

}

    .logincontainer a {
        text-decoration: none;
        grid-area: button;
        font-size: 45px;
        background-color: #0168b3;
        border: none;
        color: white;
        border-radius: 20px;
    }

.logincontainer a:hover {
    background-color: purple;
}

.logincontainer a:active {
    background-color: purple;
    box-shadow: 0 5px #666;
    transform: translateY(4px)

}

.fitextfield{
    grid-area:textfield;
   
}

.fipassfield{
    grid-area:password;
}

.lobbywrapper {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
    grid-template-rows: 70px repeat(2, minmax(400px, 1fr));
    grid-template-areas: "navbar navbar navbar navbar navbar navbar " ". pc pc sc sc ." ". pc pc rb rb .";
    grid-gap: 20px;
}

.gamewrapper {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 70px 350px min-content;
    grid-template-areas: "navbar navbar navbar" ". cr ." ". qc .";
    grid-gap: 20px;
}

.camelrace {
    position: relative;
    display: grid;
    grid-area: cr;
    border: solid 5px #0168b3;
    grid-template-columns: 1% 5% 1fr 5%;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: ". crp1 bar1 ." ". crp2 bar2 ." ". crp3 bar3 ." ". crp4 bar4 .";
    grid-column-gap: 10px;
}

.camelrace img{
    border-radius:50px;
    max-height: 100%;
    

}

.questioncontainer {
    position: relative;
    display: grid;
    grid-area: qc;
    border: solid 5px #0168b3;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas: "cquestion cquestion" "canswer1 canswer2" "canswer3 canswer4";
    grid-gap: 5px;

}



.playerscontainter {
    grid-area: pc;
    border: solid 5px #0168b3;
    overflow-y: scroll;
}

.searchcontainer {
    grid-area: sc;
    border: solid 5px #0168b3;
}

.readybutton {
    position:relative;
    grid-area: rb;
    background-color: red;
    text-shadow: 1px 1px 2px #000000;
}

    .readybutton:hover {
        background-color: green;
    }


.Navbar {
    background-color: #0168b3;
    grid-area: navbar;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px;
    grid-template-areas: "home . logo . user";
    text-align: center;
    border-radius: 0px;
}

.infologo {
    grid-area: logo;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.userhs {
    grid-area: user;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.homebutton {
    grid-area: home;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
}
.Playdiv {
    position: relative;
    background-color: green;
    grid-area: play;
    border-radius: 20px;
}

.Playbutton {
    position:relative;
    background-image: url(../images/play.png);
    background-position: center;
    width:100%;
    height:100%;
    background-size: cover;
    border-radius: 20px;
    cursor:pointer;
   
}

.Progressbutton {
    position: relative;
    background-color: pink;
    grid-area: progress;
    background-image: url(../images/score.png);
    background-position: center;
    background-size: cover;
}

.Leaderboardbutton {
    position: relative;
    background-color: aqua;
    grid-area: leaderboard;
    background-image: url(../images/leaderboard.png);
    background-position: center;
    background-size: cover;
}

.buttontext {
    margin: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    font-size: 40pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.camelracebar {
    display: block;
    width: 6%;
    height: 50px;
    background-color: purple;
    border-radius: 50px;
    margin: auto 0px;
}


#Camelbar1 {
    grid-area: bar1;
    background-color: limegreen;
}

#Camelbar2 {
    grid-area: bar2;

}

#Camelbar3 {
    grid-area: bar3;

}

#Camelbar4 {
    grid-area: bar4;

}

#img1 {
    float:right;
    border-radius: 50px;
}

#img2 {
    float:right;
    height: 150px;
}

#img3 {
    float:right;    
    height: 150px;
}

#img4 {
    float:right;
    height: 150px;
}

.camelracepoints {
    background-color: #0168b3;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: white;
    margin: auto 0px;
    font-weight:700;
}

#crp1{
    grid-area: crp1;
}
#crp2 {
    grid-area: crp2;
}
#crp3 {
    grid-area: crp3;
}
#crp4 {
    grid-area: crp4;
}
.answer {
    cursor: pointer;
    font-size:30px;
    font-weight:700;
    border-radius:20px;
    background-color:purple;
    color: white;
}
.gpbutton {
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    border-radius: 20px;
    background-color: purple;
    color: white;
}


#canswer1 {
    grid-area: canswer1;
}
#canswer2 {
    grid-area: canswer2;
}
#canswer3 {
    grid-area: canswer3;
}
#canswer4 {
    grid-area: canswer4;
}
.cquestion {
    grid-area: cquestion;
    background-color: #0168b3;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    
}
#questionlbl{
    margin:0px;
    padding:0px;
}

#loginButton {
    background-color: #0168b3;
    color: white;
    text-align: center;
    border-radius:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    cursor:pointer;
}

@media screen and (max-width: 700px) {
    .homewrapper {
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: 70px repeat(3, minmax(400px, 1fr));
        grid-template-areas: "navbar navbar navbar navbar" ". play play ." ". progress progress ." ". leaderboard leaderboard .";
        grid-gap: 10px;
    }

    .gamewrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 350px min-content;
        grid-template-areas: "navbar" "cr " "qc";
        grid-gap: 5px;
    }
    .camelrace {
        position: relative;
        display: grid;
        grid-area: cr;
        border: solid 5px #0168b3;
        grid-template-rows: 1% 5% 1fr 1%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: ". . . . " "crp1 crp2 crp3 crp4" "bar1 bar2 bar3 bar4" ". . . .";
        grid-column-gap: 10px;
    }
    .camelracepoints {
        background-color: #0168b3;
        border-radius: 50px;
        font-family: Arial, Helvetica, sans-serif;
        max-height: 50px;
        text-align: center;
        font-size: 30px;
        line-height: 50px;
        color: white;
        margin: auto 0px;
        font-weight: 700;
    }
    .camelracebar {
        display: block;
        width: 6%;
        height: 50px;
        background-color: purple;
        border-radius: 50px;
        margin: auto 0px;
        position:absolute;
        bottom: 0px;
        width:100%;
        align-content:center;
    }
    #img1 {
        float: none;
        border-radius: 50px;
    }

    #img2 {
        float: none;
        height: 150px;
    }

    #img3 {
        float: none;
        height: 150px;
    }

    #img4 {
        float: none;
        height: 150px;
    }

   

}
