@page
@{
}
<body>
  <div class="lobbywrapper">
      
          <div class="Navbar">
              <img src="~/images/homebutton.png" alt="homebutton" class="homebutton">
              <img src="~/images/infolandLoGo.png" alt="infoland logo" class="infologo">
              <img src="~/images/img_avatar.png" alt="headshot gebruiker" class="userhs">
          </div>
          <div class="playerscontainter">

          </div>

          <div class="searchcontainer">
          </div>
          <div class="readybutton">
            <p class="buttontext">Ready!</p>
          </div>

      </div>
</body>