<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Infoland Fontys Proftaak Team C (2018)">

    <link rel="stylesheet" href="~/css/sharedStyle.css">
    <script src="~/js/sharedmainScript.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>