<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Infoland Fontys Proftaak Team C (2018)">

    <link rel="stylesheet" href="~/css/sharedStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/sharedmainScript.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>