<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Infoland Fontys Proftaak Team C (2018)">

    <link rel="stylesheet" href="~/css/sharedStyle.css">
    <!-- Latest compiled and minified CSS -->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/sharedmainScript.js"></script>
    <script src="~/js/race.js"></script>
</head>
<body>
    @RenderBody()


</body>
</html>